/** _landing **/

@import "../variables";

.landing {
	height: 100%;
	background-image: url("../../images/office_01_1920.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.landingCover {
	background-color: $dark;
	opacity: 0.8;
}
.landingBox {
	height: 200px;
	width: 200px;
	left: 50%;
	transform: translate(-50%, -60%) rotate(45deg);
	transition: transform 0.4s ease-in-out;
}
.landingBox.open {
	transform: translate(30%, 20%) rotate(45deg);
}
.landingEx {
	top: 80px;
	left: 50%;
	transition: transform 0.4s ease-in-out;
}
.landingEx.neg {
	transform: translateX(-50%) rotate(-45deg);
}
.landingEx.neg.open {
	transform: translateX(-25%) rotate(45deg) scale(3, 1);
}
.landingEx.pos {
	transform: translateX(-50%) rotate(45deg);
}
.landingEx.pos.open {
	transform: translateX(-50%) rotate(45deg) scale(14, 1);
}
.landingUnderline {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 127px);
	width: 1px;
	opacity: 0;
	transition: all 0.25s ease-in-out;
}
.landingUnderline.open {
	transform: translateX(26px) scale(52, 1);
	opacity: 1;
	transition: all 0.3s 0.2s ease-in-out;
}
.landingPlusContainer {
	position: absolute;
	height: 45px;
	width: 45px;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 2;
}
.landingPlus {
	position: absolute;
	top: 50%;
	left: 50%;
	transition: transform 0.4s ease-in-out;
	z-index: 1;
}
.landingPlus.vert {
	transform: translate(-50%, -50%) rotate(90deg);
}
.landingPlus.hori {
	transform: translate(-50%, -50%);
}
.landingPlusContainer.open > .landingPlus.vert {
	transform: translate(-50%, -50%) rotate(-45deg) scale(1.5, 1);
}
.landingPlusContainer.open > .landingPlus.hori {
	transform: translate(-50%, -50%) rotate(-135deg) scale(1.5, 1);
}
.landingMenu {
	position: absolute;
	top: 66%;
	width: 100%;
	transform: translateY(-50%);
	font-size: 14px;
	font-weight: 200;
	text-transform: uppercase;
	text-align: right;
	line-height: 2;
	letter-spacing: 4px;
	transition: all 0.4s 0.2s ease-in-out;
}
.landingMenu li {
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.landingMenu.open li {
	opacity: 1;
}
.landingMenu.open li:nth-child(1) {
	transition: all 0.3s 0.1s ease-in-out;
}
.landingMenu.open li:nth-child(1) {
	transform: translateX(-57px);
}
.landingMenu.open li:nth-child(2) {
	transition: all 0.3s 0.2s ease-in-out;
}
.landingMenu.open li:nth-child(2) {
	transform: translateX(-57px);
}
.landingMenu.open li:nth-child(3) {
	transition: all 0.3s 0.3s ease-in-out;
}
.landingMenu.open li:nth-child(3) {
	transform: translateX(-57px);
}
.landingMenu.open li:nth-child(4) {
	transition: all 0.3s 0.4s ease-in-out;
}
.landingMenu.open li:nth-child(4) {
	transform: translateX(-57px);
}
.landingMenu span {
	color: white;
	transition: color 0.2s ease-out;
	cursor: pointer;
}
.landingMenu span:hover {
	color: $accent;
}
