/** main **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** _variables **/
html, body {
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif; }

/*::-webkit-scrollbar {
	width: 0px;
}*/
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: 700;
  color: white;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }

h1.open {
  -webkit-transform: translate(-100%, -150%);
          transform: translate(-100%, -150%); }

.cover {
  position: absolute;
  height: 100%;
  width: 100%; }

.box {
  position: absolute; }

.thickAccent {
  border: 12px solid #33d9cb; }

.ex, .plus {
  position: absolute;
  content: ""; }

.ex.med {
  height: 2px;
  width: 60px; }

.accent {
  background-color: #33d9cb; }

.underline {
  content: "";
  height: 1px;
  width: 52px; }

.plus.sm {
  height: 4px;
  width: 20px; }

section {
  position: relative;
  height: 100%; }

.subSection {
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 4; }

.subSection.selected {
  z-index: 3; }

.buffer, .sectionMain {
  position: absolute;
  height: 100%;
  width: 100%; }

.buffer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }

.sectionMain {
  -webkit-transition: -webkit-transform 0.5s 0.1s ease-in-out;
  transition: -webkit-transform 0.5s 0.1s ease-in-out;
  transition: transform 0.5s 0.1s ease-in-out;
  transition: transform 0.5s 0.1s ease-in-out, -webkit-transform 0.5s 0.1s ease-in-out; }

section.selected .buffer, section.selected .sectionMain {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

/** _landing **/
/** _variables **/
.landing {
  height: 100%;
  background-image: url("../../images/office_01_1920.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.landingCover {
  background-color: #262626;
  opacity: 0.8; }

.landingBox {
  height: 200px;
  width: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, -60%) rotate(45deg);
          transform: translate(-50%, -60%) rotate(45deg);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }

.landingBox.open {
  -webkit-transform: translate(30%, 20%) rotate(45deg);
          transform: translate(30%, 20%) rotate(45deg); }

.landingEx {
  top: 80px;
  left: 50%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }

.landingEx.neg {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg); }

.landingEx.neg.open {
  -webkit-transform: translateX(-25%) rotate(45deg) scale(3, 1);
          transform: translateX(-25%) rotate(45deg) scale(3, 1); }

.landingEx.pos {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg); }

.landingEx.pos.open {
  -webkit-transform: translateX(-50%) rotate(45deg) scale(14, 1);
          transform: translateX(-50%) rotate(45deg) scale(14, 1); }

.landingUnderline {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 127px);
  width: 1px;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.landingUnderline.open {
  -webkit-transform: translateX(26px) scale(52, 1);
          transform: translateX(26px) scale(52, 1);
  opacity: 1;
  -webkit-transition: all 0.3s 0.2s ease-in-out;
  transition: all 0.3s 0.2s ease-in-out; }

.landingPlusContainer {
  position: absolute;
  height: 45px;
  width: 45px;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  z-index: 2; }

.landingPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  z-index: 1; }

.landingPlus.vert {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg); }

.landingPlus.hori {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.landingPlusContainer.open > .landingPlus.vert {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1.5, 1);
          transform: translate(-50%, -50%) rotate(-45deg) scale(1.5, 1); }

.landingPlusContainer.open > .landingPlus.hori {
  -webkit-transform: translate(-50%, -50%) rotate(-135deg) scale(1.5, 1);
          transform: translate(-50%, -50%) rotate(-135deg) scale(1.5, 1); }

.landingMenu {
  position: absolute;
  top: 66%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: right;
  line-height: 2;
  letter-spacing: 4px;
  -webkit-transition: all 0.4s 0.2s ease-in-out;
  transition: all 0.4s 0.2s ease-in-out; }

.landingMenu li {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.landingMenu.open li {
  opacity: 1; }

.landingMenu.open li:nth-child(1) {
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s 0.1s ease-in-out; }

.landingMenu.open li:nth-child(1) {
  -webkit-transform: translateX(-57px);
          transform: translateX(-57px); }

.landingMenu.open li:nth-child(2) {
  -webkit-transition: all 0.3s 0.2s ease-in-out;
  transition: all 0.3s 0.2s ease-in-out; }

.landingMenu.open li:nth-child(2) {
  -webkit-transform: translateX(-57px);
          transform: translateX(-57px); }

.landingMenu.open li:nth-child(3) {
  -webkit-transition: all 0.3s 0.3s ease-in-out;
  transition: all 0.3s 0.3s ease-in-out; }

.landingMenu.open li:nth-child(3) {
  -webkit-transform: translateX(-57px);
          transform: translateX(-57px); }

.landingMenu.open li:nth-child(4) {
  -webkit-transition: all 0.3s 0.4s ease-in-out;
  transition: all 0.3s 0.4s ease-in-out; }

.landingMenu.open li:nth-child(4) {
  -webkit-transform: translateX(-57px);
          transform: translateX(-57px); }

.landingMenu span {
  color: white;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  cursor: pointer; }

.landingMenu span:hover {
  color: #33d9cb; }

/** _about **/
.aboutMain {
  background-color: white; }
